In [1]:
import pandas as pd
import numpy as np

In [2]:
d = pd.read_csv(r'C:\Users\Priyanka\Downloads\SalaryData.csv')

In [3]:
d

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [4]:
d.columns

Index(['YearsExperience', 'Salary'], dtype='object')

In [5]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 608.0 bytes

In [6]:
X=d['YearsExperience']

In [7]:
y=d['Salary']

In [8]:
X = np.array(X)
X = X.reshape(-1,1)

In [9]:
from sklearn.linear_model import LinearRegression

In [10]:
model = LinearRegression()

In [11]:
model.fit(X, y)

LinearRegression()

In [12]:
model.predict([[10]])

array([120291.82341322])

In [13]:
y = y.values

In [19]:
c=model.coef_
print(c)

[9449.96232146]

In [20]:
b=model.intercept_
print(b)

25792.20019866871

In [21]:
y=b+c*2.2
print(y)

[46582.11730587]

In [22]:
import joblib

In [23]:
model = joblib.dump(model,'salarydata.pk1')

In [24]:
joblib.load('salarydata.pk1')

LinearRegression()